.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}

.container > h3 {
  font-size: 1.2rem;
  word-wrap: break-word;
  width: 100%;
}
