.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header * {
  text-align: center;
  margin: 0px;
}

.buttonContainer {
  display: flex;
  gap: 55px;
}

@media screen and (max-width: 1024px) {
  .buttonContainer {
    flex-direction: column;
    gap: 30px;
  }
}
